@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-white text-slate-900 min-h-screen overflow-x-hidden;
  }

  img {
    @apply max-w-full h-auto block;
  }
  ::selection {
    @apply bg-sky-500 text-white;
  }
}

html {
  scroll-padding-top: 80px;
}
